<div class="container">
  <div class="model-header">
    <h1>New user info</h1>
  </div>
  <%= simple_form_for current_user do |f| %>
    <div class="modal-body"></div>
      <%= f.input :info, label: 'Enter your new description' %>
    <div class="modal-footer ">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>