
<h1>Page#index</h1>

<section ng-controller="MainCtrl">
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<header class="myheader">

<form class="search ng-pristine ng-valid">
  <input type="text" ng-model="criteria" placeholder="Look for your HackMate" class="ng-pristine ng-valid">
  <input type="image" src="https://www.nofluffjobs.com/images/btn-search.png" value="Search" ng-click="search()" class="search_image" >
</form>

</header>

<%= link_to 'Add Project', new_project_path %>

<div id="content">
  <ul>
      <li ng-repeat="project in filteredProjects">
          <a ng-href="#">{{project.name}}</a>
      </li>
  </ul>
</div>

