/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require gritter
 *= require_self
 */

@import 'bootstrap';

.container.form-bg {
  background-color: white;
  margin-top: 100px;
  border-radius: 10px 10px 10px 10px;
}

.search_image {
  margin-left: -4px;
}

.ng-scope {
  width: 100%;
}

.myheader {
  height: 200px;
  background-color: #48E8DE;
  width: 100%;
}

.search input[type=text] {
width: 61%;
padding: 0 2%;
height: 61px;
background: #f2f2f3;
font-size: 25px;
color: #565656;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
}

.search input {
vertical-align: top;
}

#test {
	background-color: #48E8DE;
}

.project-overview {
  border-left: 5px solid;
  background: #98A9E8;
  display: block;
  margin-bottom: 10px;
  padding: 12px 0;
  width: 100%;
  float: left;
  height: 30px;

  font-size: 15px;
  font-weight: 600;
  color: #282828;
  display: inline-block;
  margin-top: 6px;
}
.buttons {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
}

.project-details {
  
 
  display: block;
  margin-bottom: 10px;
  padding: 12px 0;
  width: 100%;
  float: left;
  height: 30px;
}
.user-details {
  
  
  display: block;
  margin-bottom: 10px;
  padding: 12px 0;
  width: 100%;
  float: left;
  height: 30px;
}

<<<<<<< HEAD
.modal-footer {
  width: 500px;
}

.modal {
  padding-left: 20px;
=======
.alert {
  margin-top: 10px;
>>>>>>> 562ebdb6d01e4f8c179a8d65855864e3f5849554
}
