// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  .unapply {
    display: none;
  }
}

.project.applied {
  .apply { display: none; }
  .unapply { display: inline-block; }
}
